.left-menu-not-feasible-schedule {
    --iron-icon-fill-color: #e74c3c;
}

.left-menu-feasible-schedule {
    --iron-icon-fill-color: #2ecc71;
}

app-menu {
    --app-layout-app-color: #2c3e50;
    --primary-color: #2c3e50;
    --app-layout-app-selected-bg-color: #ecf0f1;
    --app-menu-selected-bg-color: #ecf0f1;
}

.app-layout.lumo {
    --app-layout-background: #ecf0f1;
}

.welcome-message {
    font-weight: bold;
    color: #2980b9;
}
